.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  padding: none;
  --verde-claro: #1FE10A;
  --verde-oscuro: #098013;
  --negro: #000;
  --naranja: #E3A224;
  --blanco: #fff;
  --gris-claro: #D9D9D9;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;                     /* Elimina el margen por defecto /     / Color de fondo */
  color: var(--negro);                  /* Color de texto para visibilidad */
  font-family: "Lilita One", sans-serif;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  padding: 0;
}

.carga{
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, var(--verde-claro), var(--verde-oscuro));
}

.inicio{
  position: relative;
  height: 100vh;
  width: 100vw; 
  background: radial-gradient(circle, var(--blanco), var(--gris-claro));
  margin: 0;
  padding: 0;
}

.grid {
  position: absolute;
  top: 20;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.cabra {
  position: absolute;
  z-index: 99;
  height: min(50vw, 80vh);
  bottom: 0;
  left: 4vw;
}

.bocadillo {
  position: absolute;
  z-index: 80;
  height: 40vw;
  top: -5%;
  left: 17%;
  scale: 0.7;
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.texto {
  position: relative;
  z-index: 85;
  left: 33vw;
  top: 4.5vw;
  height: 15vw;
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
  font-size: 2.5vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
}

.mainButton{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 7vw;
  left: 75vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}