
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo{
  position: absolute;
  z-index: 5;
  height: 50vh;

}


:root {
  padding: none;
  --verde-claro: #1FE10A;
  --verde-oscuro: #098013;
  --negro: #000;
  --naranja: #E3A224;
  --blanco: #fff;
  --gris-claro: #D9D9D9;
  --gris-oscuro: #848484;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;                     
  color: var(--negro);                 
  font-family: "Lilita One", sans-serif !important;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  padding: 0;
}

.carga{
  height: 100vh;
  width: 100vw;
  background-color: var(--verde-oscuro);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}

.inicio{
  position: relative;
  height: 100vh;
  width: 100vw; 
  background: radial-gradient(circle, var(--blanco), var(--gris-claro));
  margin: 0;
  padding: 0;
}

.drama{
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
}

.grid {
  position: absolute;
  top: 20;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.cabra{
  position: absolute;
  z-index: 99;
}

.cabra.Normal{
  height: min(33vw, 52vh);
  bottom: 0vw;
  left: 4vw;
}

.cabra.Nasa {
  height: min(50vw, 80vh);
  bottom: 0;
  left: 3vw;
}

.cabra.Triste {
  height: min(33vw, 52vh);
  bottom: 2vw;
  left: 1vw;
}

.bocadillo {
  position: absolute;
  z-index: 80;
  height: 100%;
  scale: 0.7;
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.bocadilloGrande {
  position: absolute;
  z-index: 80;
  height: calc(100vh - 12vh - 40px);
  width: calc(100vw - 28vw - 40px);
  transform: scaleX(calc( (100vw - 28vw - 175px)/(100vh - 12vh - 40px) ));
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.bocadilloII {
  position: absolute;
  z-index: 80;
  height: 100%;
  scale: 0.9;
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.bocadilloFail {
  position: absolute;
  z-index: 80;
  height: 90%;
  top: -2vw;
  transform: scaleY(1) scaleX(1.1);
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.app-root{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12vw;
  margin-top: -3vw;
}

.ventana{
  position: absolute;
  width: calc(25vw + 7px);
  height: calc(25vw + 7px);
  margin: 0;
}

.master{
  position: absolute;
  height: 40vw;
  top: -5%;
  left: 17%;
}

.masterII{
  position: absolute;
  height: 40vw;
  top: 2%;
  left: 2%;
}

.masterIII{
  position: absolute;
  height: 45vw;
  top: 12%;
  left: 28%;
}

.masterFail{
  position: absolute;
  height: 45vw;
  top: 12%;
  left: 27%;
}

.texto {
  position: relative;
  z-index: 85;
  left: 16vw;
  top: 8vw;
  height: 20vw;
  font-size: 2.5vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
}

.textoII {
  position: relative;
  z-index: 85;
  left: 4vw;
  top: 3vw;
  height: 20vw;
  width: 37vw;
  font-size: 2.5vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
}

.textoIII {
  position: relative;
  z-index: 85;
  left: 8vw;
  top: 2vw;
  height: 15vw;
  font-size: 2.5vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
  margin-bottom: -14vw;
}

.textoFail {
  position: relative;
  z-index: 85;
  left: 4vw;
  top: 0vw;
  height: 15vw;
  font-size: 2vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
  width:60vw;
}


.mainButton{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 4vw;
  left: 60vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
.mainButton.tamaño{
  margin-bottom: 2vw;
  margin-right: 2vw;
}

.mainButtonII{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 5vw;
  left: 23vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.mainButtonIII{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 60vh;
  left: 46vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.mainButtonFail{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 17vw;
  left: 55vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.optionWrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2vw;
  left: 45vw;
}

.optionButton{
  background-color: var(--naranja);
  position: static;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 5vw;
  left: 23vw;
  margin: 0;
  margin-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 50vw;
}

.scene-container{
  position: absolute;
  border-radius: 99999px !important;
  background-color: #000;
}

canvas{
  border-radius: 99999px !important;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27vw;
  right: 20vw;
  left: -40vw;
}
.buttonWrapper.horizontal{
  flex-direction: row;
}

.buttonWrapper_Fail {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 31vw;
  z-index: 90;
  left: 10vw;
}

.mainButton_failIII{
  background-color: var(--naranja);
  position: static;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  margin-left: 10vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.secondButton_failIII{
  border: 2px var(--naranja) solid;
  position: static;
  background: none;
  color: var(--naranja);
  font-family: "Lilita One", sans-serif;
  font-size: 2vw;
  border-radius: 1vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 25vw;
  margin-right: 17vw;
}

.fondo {
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
}

.suelo {
  position: absolute;
  bottom: 0vh;
  left: 0;
  z-index: 30;
  height: 10vw;
}


.cultivo {
  position: absolute;
  height: max(20vw,40vh);
  top: 60vh;
  left: 26vw;
  z-index: 120;
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.cultivoGrande {
  position: relative;
  height: max(40vw,30vh);
  z-index: 120;
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
  top: 20vh;
}

.secondButton{
  border: 2px var(--naranja) solid;
  position: absolute;
  background: none;
  color: var(--naranja);
  font-family: "Lilita One", sans-serif;
  font-size: 2vw;
  border-radius: 1vw;
  z-index: 85;
  top: 4vw;
  left: -15vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.plot {
  max-width: 80vw;
  max-height: 50vh;
  border-radius: 12px;
  display: block;
}

.masterFail_2{
  position: absolute;
  height: 45vw;
  top: 12%;
  left: 27%;
}


.bocadilloFail_2 {
  position: absolute;
  z-index: 80;
  height: 90%;
  top: -2vw;
  transform: scaleY(1) scaleX(1.1);
  filter: drop-shadow( 4px 8px 10px rgba(0, 0, 0, 0.3));
}

.grafico {
  max-width: 80vw; 
  max-height: 50vh; 
  border-radius: 12px;
  position: absolute;
  right: -67vw;
  z-index: 90;
}


.mainButtonFail_2{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 17vw;
  left: 55vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.textoFail_2 {
  position: relative;
  z-index: 85;
  left: 4vw;
  top: 0vw;
  height: 15vw;
  font-size: 2vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
  width:60vw;
}

.textoFinal {
  background-color: var(--naranja);
  border-radius: 15px;
  position: relative;
  text-align: center;
  color: white;
  padding: 10px;
  z-index: 85;
  left: 4vw;
  top: 3vw;
  width: 37vw;
  font-size: 2.5vw;
  filter: none;
  margin: 0;
  line-height: 1.4;
}

.mainButtonFinal{
  background-color: var(--naranja);
  position: relative;
  border: none;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  border-radius: 1vw;
  z-index: 85;
  top: 17vw;
  left: 65vw;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
