#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --verde-claro: #1FE10A;
  --verde-oscuro: #098013;
  --negro: #000;
  --naranja: #E3A224;
  --blanco: #fff;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;                     /* Elimina el margen por defecto */
  background: radial-gradient(circle, var(--verde-claro), var(--verde-oscuro));     /* Color de fondo */
  color: white;                  /* Color de texto para visibilidad */
  font-family: "Lilita One", sans-serif;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
